name = "todo-list-api"
main = "server.js"
compatibility_date = "2025-11-01"
compatibility_flags = ["nodejs_compat"]

# D1 Database configuration
[[d1_databases]]
binding = "DB"
database_name = "todo-list-db"
database_id = "bb68849e-72ab-431a-8605-b8ff77c7f82d"
migrations_dir = "migrations"



